<link href="../addons/ewei_shopv2/static/js/dist/bootstrap_table/bootstrap.min.css" rel="stylesheet">
<link href="../addons/ewei_shopv2/static/js/dist/bootstrap_table/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="../addons/ewei_shopv2/static/js/dist/bootstrap_table/jquery.treegrid.min.css">
<link rel="stylesheet" href="../addons/ewei_shopv2/static/js/dist/bootstrap_table/bootstrap-switch.min.css">
<div class="container">
    <table id="table"></table>
</div>

<script src="../addons/ewei_shopv2/static/js/dist/bootstrap_table/jquery.min.js"></script>
<script src="../addons/ewei_shopv2/static/js/dist/bootstrap_table/bootstrap-table.min.js"></script>
<script src="../addons/ewei_shopv2/static/js/dist/bootstrap_table/bootstrap-table-treegrid.js"></script>
<script src="../addons/ewei_shopv2/static/js/dist/bootstrap_table/jquery.treegrid.min.js"></script>
<script src="../addons/ewei_shopv2/static/js/dist/bootstrap_table/bootstrap-switch.min.js"></script>
<script type="text/javascript">
    var $table = $('#table');
    var data = JSON.parse('{php echo $data}');
    $(function() {
        $table.bootstrapTable({
            data:data,
            idField: 'id',
            dataType:'jsonp',
            columns: [
                { field: 'check', checkbox: true, visible: false, formatter: function (value, row, index) {}},
                { field: 'name', title: '分类名称'},
                { field: 'imgurl', title: '分类图片',formatter:'imgsFormatter'},
                { field: 'status', title: '是否上架', sortable: true, align: 'center', formatter: 'statusFormatter' },
                { field: 'upPrice', title: '设置加价率' ,events:operateEvents,formatter:'textFormatter'},
                { field: 'time', title: '更新时间', align: 'center'},
            ],

            // onLoadSuccess: function(){
            //     initSwitch();
            // },

            // bootstrap-table-treegrid.js 插件配置 -- start

            //在哪一列展开树形
            treeShowField: 'name',
            //指定父id列
            parentIdField: 'pid',

            onResetView: function(data) {
                //console.log('load');
                $table.treegrid({
                    initialState: 'collapsed',// 所有节点都折叠
                    // initialState: 'expanded',// 所有节点都展开，默认展开
                    treeColumn: 0,//哪一列点击为展开
                    // expanderExpandedClass: 'glyphicon glyphicon-minus', //图标样式
                    // expanderCollapsedClass: 'glyphicon glyphicon-plus',
                    onChange: function() {
                        $table.bootstrapTable('resetWidth');
                    }
                });

                //只展开树形的第一级节点
                // $table.treegrid('getRootNodes').treegrid('expand');
            },
            onCheck:function(row){
                var datas = $table.bootstrapTable('getData');
                // 勾选子类
                selectChilds(datas,row,"id","pid",true);

                // 勾选父类
                selectParentChecked(datas,row,"id","pid")

                // 刷新数据
                $table.bootstrapTable('load', datas);
            },

            onUncheck:function(row){
                var datas = $table.bootstrapTable('getData');
                selectChilds(datas,row,"id","pid",false);
                $table.bootstrapTable('load', datas);
            },
            // bootstrap-table-treetreegrid.js 插件配置 -- end
        });
        initSwitch();
    });

    function textFormatter(value, row, index) {
        return "<input type='text' name='upPrice' id='upPrice' value="+value+">" +
            "<button type='button' class='RoleOfedit btn-small btn-primary' style='margin-right:15px;'>" + "<i class='fa fa-pencil-square-o' ></i>&nbsp;修改</button>";
    }
    function imgsFormatter(value, row, index) {
        return "<img width='50px' height='50px' src="+value+" alt=''>";
    }
    // 格式化类型
    function typeFormatter(value, row, index) {
        if (value === 'menu') { return '菜单'; }
        if (value === 'button') { return '按钮'; }
        if (value === 'api') { return '接口'; }
        return '-';
    }
    // 格式化状态
    function statusFormatter(value, row, index) {
        var result="";
        result += "<input type='checkbox' id='project_status'>"
        if (value==1){
            return "<div class='switch' id='mySwitch'><input type='checkbox' checked id='project_status_switch' name='mycheck'></div>";
        }else {
            return "<input class='switch' type='checkbox' id='project_status_switch' name='mycheck'>";
        }
    }
    function initSwitch(){
        $('input[name=mycheck]').bootstrapSwitch({
            onText : "上架",      // 设置ON文本
            offText : "下架",    // 设置OFF文本
            onColor : "success",// 设置ON文本颜色(info/success/warning/danger/primary)
            offColor : "warning",  // 设置OFF文本颜色 (info/success/warning/danger/primary)
            size : "small",    // 设置控件大小,从小到大  (mini/small/normal/large)
            // 当开关状态改变时触发
            onSwitchChange : function(event, state) {
                if (state == true) {
                    alert("ON");
                } else {
                    alert("OFF");
                }
            }
        })
    }

    //初始化操作按钮的方法
    window.operateEvents = {
        'click .expander': function (e, value, row, index) {

        },
        'click .RoleOfdelete': function (e, value, row, index) {
            del(row.id);
        },
        'click .RoleOfedit': function (e, value, row, index) {
            update(row.id);
        }
    };
</script>
<script>
    /**
     * 选中父项时，同时选中子项
     * @param datas 所有的数据
     * @param row 当前数据
     * @param id id 字段名
     * @param pid 父id字段名
     */
    function selectChilds(datas,row,id,pid,checked) {
        for(var i in datas){
            if(datas[i][pid] == row[id]){
                datas[i].check=checked;
                selectChilds(datas,datas[i],id,pid,checked);
            };
        }
    }

    function selectParentChecked(datas,row,id,pid){
        for(var i in datas){
            if(datas[i][id] == row[pid]){
                datas[i].check=true;
                selectParentChecked(datas,datas[i],id,pid);
            };
        }
    }

    function add(id) {
        alert("add 方法 , id = " + id);
    }
    function del(id) {
        alert("del 方法 , id = " + id);
    }
    function update(id) {
        alert("update 方法 , id = " + id);
    }


</script>