# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
*.xlsx
*.rar
*.xml
*.txt
*.jpg
*.png
*.pem
*.tpl.php
out
gen
/addons/ewei_shopv2/data/tmp/16074821142.xlsx
