{template 'web/common/header_amaze_post'}
{if $operation == 'post'}
<div class="row">
	<div class="am-u-md-12 am-u-sm-12 row-mb">
	    <div class="tpl-portlet-components">
	        <div class="portlet-title">
	            <div class="caption font-green bold">
	                <span class="am-icon-file-image-o"></span> {if !empty($banner['bannername'])}编辑{else}添加{/if}幻灯片
	            </div>
				<div class="actions">
					<a class="am-btn am-btn-default am-btn-sm btn-loading-template btn" href="{php echo $this->createWebUrl('banner', array('rid' => $rid, 'op' => 'post' ))}" data-toggle="tooltip" data-placement="bottom"  title="添加幻灯片" >
	                		<i class="am-icon-plus"></i> 添加幻灯片
					</a>
					<a class="am-btn am-btn-default am-btn-sm btn-loading-template btn" href="{php echo $this->createWebUrl('banner', array('rid' => $rid, 'op' => 'display' ))}" data-toggle="tooltip" data-placement="bottom"  title="幻灯片管理" >
	                		<i class="am-icon-file-image-o"></i> 幻灯片管理
					</a>
				</div>
	        </div>
	        <div class="tpl-block">
	            <div class="am-g">
	                <div class="tpl-form-body tpl-form-line">
	                    <form class="am-form tpl-form-line-form form" action=""  method="post" data-am-validator enctype="multipart/form-data" id="form1">
	                    		<fieldset>
								<div class="am-form-group">
								    <label for="fm_displayorder" class="am-u-sm-3 am-form-label">排序 <span class="tpl-form-line-small-title">Displayorder</span></label>
								    <div class="am-u-sm-9">
										<input type="text" name="displayorder" class="tpl-form-input " value="{$banner['displayorder']}" />
										<p class="am-form-help">排序</p>
									</div>
								</div>
								<div class="am-form-group">
								    <label for="fm_title" class="am-u-sm-3 am-form-label"><span class="am-icon-exclamation-circle color_F8585B btn" data-toggle="tooltip" data-placement="top" title="必填"></span> 幻灯片标题 <span class="tpl-form-line-small-title">Title</span></label>
								    <div class="am-u-sm-9">
										<input type="text" name="bannername" id="fm_title" class="tpl-form-input " value="{$banner['bannername']}" required/>
										<p class="am-form-help">幻灯片名称</p>
									</div>
								</div>
								<div class="am-form-group">
								    <label for="fm_thumb" class="am-u-sm-3 am-form-label"><span class="am-icon-exclamation-circle color_F8585B btn" data-toggle="tooltip" data-placement="top" title="必填"></span> 幻灯片图片 <span class="tpl-form-line-small-title">Picture</span></label>
								    <div class="am-u-sm-9">
										{php echo tpl_form_field_image('thumb', $banner['thumb'])}
										<p class="am-form-help">图片默认为 450px * 200px,请按比例设置</p>
									</div>
								</div>
								<div class="am-form-group">
								    <label for="fm_link" class="am-u-sm-3 am-form-label"><span class="am-icon-exclamation-circle color_F8585B btn" data-toggle="tooltip" data-placement="top" title="必填"></span> 幻灯片链接 <span class="tpl-form-line-small-title">Linkurl</span></label>
								    <div class="am-u-sm-9">
										<input type="text" name="link" id="fm_link" class="tpl-form-input " value="{$banner['link']}" required/>
										<p class="am-form-help">幻灯片链接</p>
									</div>

								</div>
								<div class="am-form-group">
								    <label for="fm_link" class="am-u-sm-3 am-form-label">是否显示 <span class="tpl-form-line-small-title">Enabled</span></label>
								    <div class="am-u-sm-9">
									    <div class="tpl-switch">
	                                        <input type="checkbox" name='enabled' class="ios-switch bigswitch tpl-switch-btn" {if $banner['enabled']==1}checked{/if} />
	                                        <div class="tpl-switch-btn-view">
	                                            <div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                 </div>
								</div>
		                        <div class="am-form-group">
		                            <div class="am-u-sm-9 am-u-sm-push-3">
		                                	<input type="hidden" name="token" value="{$_W['token']}" />
			                             <input type="submit" name="submit" value="提交" class="am-btn am-btn-primary tpl-btn-bg-color-success " />
		                            </div>
		                        </div>
	                        </fieldset>
	                    </form>

	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>
{elseif $operation == 'display'}
<div class="row">
	<div class="am-u-md-12 am-u-sm-12 row-mb">
	    <div class="tpl-portlet-components">
	        <div class="portlet-title">
	            <div class="caption font-green bold">
	                <span class="am-icon-file-image-o"></span> 幻灯片
	            </div>
				<div class="actions">
					<a class="am-btn am-btn-default am-btn-sm btn-loading-template btn" href="{php echo $this->createWebUrl('banner', array('rid' => $rid, 'op' => 'post' ))}" data-toggle="tooltip" data-placement="bottom"  title="添加幻灯片" >
	                		<i class="am-icon-plus"></i> 添加幻灯片
					</a>
					<a class="am-btn am-btn-default am-btn-sm btn-loading-template btn" href="{php echo $this->createWebUrl('banner', array('rid' => $rid, 'op' => 'display' ))}" data-toggle="tooltip" data-placement="bottom"  title="幻灯片管理" >
	                		<i class="am-icon-file-image-o"></i> 幻灯片管理
					</a>
				</div>
	        </div>
	        <div class="am-tabs tpl-index-tabs" data-am-tabs>
					<div class="am-tabs-bd">
						<div class="am-tab-panel am-fade am-in am-active" id="tab1">
							<div id="wrapperA" class="wrapper wrapper-h-auto">
								<form method="post" class="am-form tpl-form-line-form" id="formbanner">
									<div class="tpl-scrollable" style="min-height: 200px;">
										<table class="am-table am-table-hover tpl-table">
											<thead>
												<tr class="tpl-table-uppercase">
													<th width="80">排序</th>
													<th >名称</th>
													<th>预览</th>
													<th >链接</th>
													<th >状态</th>
													<th >操作</th>
												</tr>
											</thead>
											<tbody >
												{loop $list $row}
													<tr>
														<td>
															<div class="am-form tpl-form-line-form">
																<input type="text" class="tpl-form-input" name="displayorder[{$row['id']}]" value="{$row['displayorder']}">
															</div>
														</td>
														<td>{$row['bannername']}</td>
														<td>
															<a href="{php echo tomedia($row['thumb'])}" target="_blank"><img src="{php echo tomedia($row['thumb'])}" alt="{$row['bannername']}" class="user-pic am-img-thumbnail am-circle am-img-responsive" style="border-radius: 5px;"></a>
														</td>
														<td>
															<span class="am-badge am-badge-default">{php echo cutstr($row['link'], '30','...')}</span>
														</td>
														<td>
															<a data="{$row['enabled']}" class="am-btn {if $row['enabled']}am-btn-success{else} am-btn-default {/if} am-btn-xs" data-toggle="tooltip" data-placement="top" href="javascript:;" onclick="setProperty(this,{$row['rid']},'banner', {$row['id']},)" title="点击设置 显示 / 隐藏 幻灯片" target="_blank">{if $row['enabled']}<i class="am-icon-eye"></i> 显示{else}<i class="am-icon-eye-slash"></i> 隐藏{/if}</a>

														</td>
														<td>
															<div class="am-btn-toolbar">
																<div class="am-btn-group am-btn-group-sm">
																	<a class="am-btn am-btn-default btn " data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('banner', array('op' => 'post', 'id' => $row['id'], 'rid' => $rid))}" title="编辑该幻灯片" target="_blank"><i class="am-icon-edit"></i> 编辑</a>
																	<a class="am-btn am-btn-default btn" data-toggle="tooltip" data-placement="top" href="{php echo $this->createWebUrl('banner', array('op' => 'delete', 'id' => $row['id'],'rid' => $rid))}" title="删除该幻灯片吗，删除后无法恢复，请谨慎操作"><i class="am-icon-times"></i> 删除</a>
																</div>
															</div>
														</td>
													</tr>
												{/loop}
												<tr>
													<td colspan="6" style="line-height: 6em;">
														<div style="text-align: left;">
															<div class="am-btn-toolbar">
																<div class="am-btn-group am-btn-group-sm">
																	<input name="token" type="hidden" value="{$_W['token']}" />
						                                				<input type="submit" name="submit" class="am-btn am-btn-success btn" value="提交" data-toggle="tooltip" data-placement="top" title="提交">
							                                		</div>
							                                </div>

														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>

	    </div>
	</div>
</div>
<script>
	function setProperty(obj,rid,type,id){
		$(obj).html($(obj).html() + "...");
		$.post("{php echo $this->createWebUrl('statusall')}"
			,{rid:rid, id:id, type:type, data: obj.getAttribute("data")}
			,function(d){
				if(type=='banner'){
					$(obj).html($(obj).html().replace("...",""));
					//$(obj).html( d.data=='1'?'<i class="am-icon-star"></i>已封禁':'<i class="am-icon-star-o"></i>未封禁');
					//$(obj).attr("data",d.data);
					//if(d.result==1){
					//	$(obj).toggleClass("am-badge-danger");
					//}
					window.location.reload();
				}

			}
			,"json"
		);
	}
</script>
{/if}
{template 'web/common/footer_amaze_post'}