		<div class="am-form-group">
 			<label for="fm_point" class="am-u-sm-3 am-form-label">会话界面报名开启命令 </label>
            <div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="command" value="{$rhuihua['command']}" placeholder="填写会话界面报名命令，例如：报名，并添加对应的包含关键词，例如：报名。"/>
				<div class="am-form-help">在公众号会话界面，用户发送该命令，开始报名。可以设置为中文、英文，在10个字符以内</div>
				<p class="am-form-help font-red">并且要在高级触发中设置对应的包含关键字，与此处设置一样 <a class="am-btn am-btn-warning am-btn-xs" href="{php echo $this->createWebUrl('system', array('rid' => $rid, 'op' => 'rbasic'))}" target="_blank">去设置</a></p>
            </div>
        </div>
        <div class="am-form-group">
 			<label for="fm_point" class="am-u-sm-3 am-form-label">会话界面多活动投票命令 </label>
            <div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="tcommand" value="{$rhuihua['tcommand']}" placeholder="多活动中， 在公众号会话界面，用户发送对应命令 对用户投票，命令：投票 ID  或者 投票 真实姓名，其中投票就是开启命令"/>
				<div class="am-form-help ">多活动中， 在公众号会话界面，用户发送对应命令 对用户投票，命令：投票 ID  或者 投票 真实姓名，其中投票就是开启命令</div>
				<p class="am-form-help font-red">并且要在高级触发中设置对应的包含关键字，与此处设置一样 <a class="am-btn am-btn-warning am-btn-xs" href="{php echo $this->createWebUrl('system', array('rid' => $rid, 'op' => 'rbasic'))}" target="_blank">去设置</a></p>

            </div>
        </div>


		<div class="am-form-group">
            <label for="fm_point" class="am-u-sm-3 am-form-label"><span style='color:red'>*</span>其他活动（广告）显示模式 </label>
            <div class="am-u-sm-9">
               	<label class="am-radio-inline">
                	<input type="radio" name="ishuodong" value="1" {if $rhuihua['ishuodong'] == 1} checked="checked"{/if}/>投票后显示
                </label>
               	<label class="am-radio-inline">
                	<input type="radio" name="ishuodong" value="2" {if $rhuihua['ishuodong'] == 2} checked="checked"{/if}/>显示为广告
                </label>
               	<label class="am-radio-inline">
                	<input type="radio" name="ishuodong" value="3" {if $rhuihua['ishuodong'] == 3} checked="checked"{/if}/>始终显示
                 </label>
                <label class="am-radio-inline">
                	<input type="radio" name="ishuodong" value="0" {if $rhuihua['ishuodong'] == 0} checked="checked"{/if}/>不显示
                </label>
            </div>
        </div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">活动（广告）名称 </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="huodongname" value="{$rhuihua['huodongname']}" />
				<div class="am-form-help">活动（广告）的名称</div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">活动（广告）描述 </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="huodongdes" value="{$rhuihua['huodongdes']}" />
				<div class="am-form-help">活动（广告）的描述</div>
			</div>
		</div>
		<div class="am-form-group">
					<label for="fm_point" class="am-u-sm-3 am-form-label">活动（广告）图片 </label>
					<div class="am-u-sm-9">
						{php echo tpl_form_field_image('hhhdpicture', $rhuihua['hhhdpicture'])}
					<div class="am-form-help">图片建议尺寸：200像素 * 200像素</div>
					</div>

				</div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">活动（广告）链接网址 </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="huodongurl" value="{$rhuihua['huodongurl']}" />
				<div class="am-form-help">活动（广告）的链接</div>
			</div>
		</div>
		<div class="am-alert am-alert-danger alert alert-dismissible" role="alert">
	    		<button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right: 0;"><span aria-hidden="true">&times;</span></button>
		  	以下内容仅限 【认证服务号】 有效
		</div>

		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">报名成功微信的模板id </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="regmessagetemplate" value="{$rhuihua['regmessagetemplate']}" />
				<div class="am-form-help">公众平台模板消息编号： OPENTM201303555		搜索标题：【 投票创建成功通知 】  行业： IT科技 - 互联网|电子商务</div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">投票成功微信的模板id </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="messagetemplate" value="{$rhuihua['messagetemplate']}" />
				<div class="am-form-help">公众平台模板消息编号： OPENTM201303555	 	搜索标题：【 投票创建成功通知 】  行业： IT科技 - 互联网|电子商务</div>
			</div>
		</div>

		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">投票审核成功微信的模板id </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="shmessagetemplate" value="{$rhuihua['shmessagetemplate']}" />
				<div class="am-form-help">公众平台模板消息编号： OPENTM203804277		 搜索标题：【 审核进度提醒 】  行业： IT科技 - 互联网|电子商务</div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">群发消息微信的模板id </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="fmqftemplate" value="{$rhuihua['fmqftemplate']}" />
				<div class="am-form-help">公众平台模板消息编号： OPENTM401639544		 搜索标题：【 文章发布成功通知 】  行业： IT科技 - 互联网|电子商务</div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">评论的模板id </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="msgtemplate" value="{$rhuihua['msgtemplate']}" />
				<div class="am-form-help">公众平台模板消息编号： OPENTM202109783		搜索标题：【 咨询回复消息提醒 】 行业： IT科技 - 互联网|电子商务</div>
			</div>
		</div>
		<div class="am-form-group">
			<label for="fm_point" class="am-u-sm-3 am-form-label">活动结束模板id </label>
			<div class="am-u-sm-9">
				<input type="text" class="tpl-form-input" name="endtemplate" value="{$rhuihua['endtemplate']}" />
				<div class="am-form-help">公众平台模板消息编号： OPENTM416223791		搜索标题：【 投票结果通知 】 行业： IT科技 - 互联网|电子商务</div>
			</div>
		</div>